<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1,maximum-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">
        <meta name="apple-mobile-web-app-status-bar-style" content="black">
		<link rel="stylesheet" href="../../../assets/css/public.css">
		<style type="text/css">
			body{
				background: #fff;
			}
			.all{
				padding: 15px;
				margin-bottom: 80px;
				margin-top: 80px;
			}
			p{
				text-align: center;
				color: #ccc;
			}
		</style>
	</head>
	<body>
		<div class="all">
        	<div>
				<img src="../../assets/img/Group%203.png" alt="">
			</div>
			<p>系统升级维护 </p>
			<p>我们正在努力修复中，请您稍安勿躁</p>
		 </div>
	
	</body>
</html>
